@using x_sinema.ViewModels
@model RegistrationViewModel

@{
    ViewData["Title"] = "Registration";
}

<div class="row">
    <div class="col-md-6">
        <h4>Registration Page</h4>

        @if(TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> @TempData["Error"] </span>
                </div>
            }

        <div class="row">
            <div class="col-md-8">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div><div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VerifPassword" class="control-label"></label>
                        <input asp-for="VerifPassword" class="form-control" />
                        <span asp-validation-for="VerifPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

