@using x_sinema.ViewModels
@model RegistrationViewModel

@{
    ViewData["Title"] = "Registration";
}

<section class="vh-100 vw-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-6 col-xl-7">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-6 col-lg-6 col-xl-5">
            <h4>Registration</h4>
            @if (TempData["message"] != null)
            {
                @Html.Raw(@TempData["message"])
            }
            <form method="post" asp-controller="Auth" asp-action="Registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-outline row mt-4 mb-2">
                    <div class="col-sm-6">
                        <label class="form-label" asp-for="FirstName">First Name</label>
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" asp-for="LastName">Last Name</label>
                        <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label" asp-for="Username">Username</label>
                    <input type="text" asp-for="Username" class="form-control form-control-lg"
                           placeholder="Enter username here" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label" asp-for="EmailAddress">Email address</label>
                    <input type="email" asp-for="EmailAddress" class="form-control form-control-lg"
                           placeholder="Enter a valid email address" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-outline row  mb-2">
                    <div class="col-sm-6">
                        <label class="form-label" asp-for="Password">Password</label>
                        <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" asp-for="VerifPassword">Verif Password</label>
                        <input type="password" class="form-control form-control-lg" asp-for="VerifPassword" placeholder="Verification password">
                        <span asp-validation-for="VerifPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center text-lg-start mt-2 pt-2">
                    <button type="submit" class="btn btn-dark px-5">Regis</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Already have an account? <a asp-controller="Auth" asp-action="Login"
                                                    class="link-danger">Login Now!!!</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptPartial" />
    }
}