@model string
<div class="d-flex justify-content-end mb-3">
    @if (@Model != "Movies")
    {
        <a class="btn btn-outline-secondary me-2" asp-controller="Movies" asp-action="Index">Back to Home</a>
    }
    @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-success" asp-controller="@Model" asp-action="Add">Add New Data</a>
    }
</div>
