<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    @*custom css in each layout if exist*@
    @if (@ViewData["css"] != null)
    {
        <link rel="stylesheet" href="~/css/@ViewData["css"]" asp-append-version="true" />
    }
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Movies" asp-action="Index">X-Sinema</a>
            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
                    </li>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Orders" asp-action="Index">History Orders</a>
                        </li>
                    }
                    @if (User.Identity!.IsAuthenticated && User.IsInRole("Customer"))
                    {
                        <li class="nav-item">
                            @await Component.InvokeAsync("CurrentCheckoutItems")
                        </li>

                    }
                    @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Interface
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Companies" asp-action="Index">Companies</a></li>
                                <li><a class="dropdown-item" asp-controller="Producers" asp-action="Index">Producers</a></li>
                                <li><a class="dropdown-item" asp-controller="Actors" asp-action="Index">Actors</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="ListOfUsers">List of Users</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <form class="d-flex me-3" role="search">
                    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>
    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="py-4 bg-light mt-auto mb-0">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-center small">
                Copyright &copy; X-Sinema 2022
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
