@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@if (!User.Identity!.IsAuthenticated)
{
    <a class="btn btn-success text-white my-2 my-sm-0" asp-controller="Auth" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-outline-primary text-white my-2 my-sm-0" asp-controller="Auth" asp-action="Registration">
        <i class="bi bi-person-plus"></i> Register
    </a>
}
else
{
    <span class="btn btn-outline-secondary" type="button">
        <i class="bi bi-person-badge"></i> @UserManager.GetUserName(User)
    </span>
    <span style="padding: 5px;"></span>
    <form method="post" asp-controller="Auth" asp-action="Logout" id="form_logout">
        <button class="btn btn-outline-danger my-2 my-sm-0" id="button_logout">
            <i class="bi bi-box-arrow-in-right"></i> Log out
        </button>
    </form>
}

