@model ProducerModel

@{
    ViewData["Title"] = "Add a new producer";
    ViewData["css"] = "Producers/CUD.css";
    ViewData["controller"] = "Producers";
    ViewData["action"] = "Add New Producer";
}



<div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="preview">
                    <div class="profile">
                        <div class="avatar">
                            <img src="https://firebasestorage.googleapis.com/v0/b/coba-firebase-d3a0e.appspot.com/o/default.png?alt=media&token=44d223fb-097b-44a1-a8d5-b188e7f69b91" alt="Producer Image" id="producer_image">
                        </div>
                        <h5 class="user-name" id="producer_name">Producer Name</h5>
                    </div>
                    <div class="about">
                        <h5>Bio</h5>
                        <p id="producer_bio">Not yet....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <form method="post" asp-controller="Producers" asp-action="Add">
                        <div class="col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="FullName">Full Name</label>
                                <input type="text" class="form-control" asp-for="FullName" placeholder="Enter full name here">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="ProfilePictureURL">Image Url</label>
                                <input type="text" class="form-control" asp-for="ProfilePictureURL" placeholder="Insert producer image url here">
                                <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Bio">Bio</label>
                                <input type="text" class="form-control" asp-for="Bio" placeholder="Enter producer bio">
                                <span asp-validation-for="Bio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <a asp-controller="Producers" asp-action="Index" class="btn btn-outline-secondary me-2">Back to Producer List</a>
                            <button class="btn btn-success" type="submit">Add New Producer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts{
    <script>
        $("#FullName").on("keyup", function() {
            if ($(this).val() != "") {
                $("#producer_name").html($(this).val());
            } else {
                $("#producer_name").html("Producer Name");
            }
        })

        $("#ProfilePictureURL").on("keyup", function() {
            if ($(this).val() != "") {
                $("#producer_image").attr("src", $(this).val());
            } else {
                $("#producer_image").attr("src", "https://firebasestorage.googleapis.com/v0/b/coba-firebase-d3a0e.appspot.com/o/default.png?alt=media&token=44d223fb-097b-44a1-a8d5-b188e7f69b91");
            }
        })

        $("#Bio").on("keyup", function() {
            if ($(this).val() != "") {
                $("#producer_bio").html($(this).val());

            } else {
                $("#producer_bio").html("Not yet....");
            }
        })
    </script>
} 