@using x_sinema.Constans
@using x_sinema.ViewModels;
@model NewMovieViewModel

@{
    ViewData["title"] = "Edit Movie Data";
    ViewData["css"] = "Movies/AddOrEdit.css";
    ViewData["controller"] = "Movies";
    ViewData["action"] = "Edit Movies";
}

<div class="row">
    <div class="col-xl-4">
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Movie Images</div>
            <div class="card-body text-center">
                <img class="rounded img-account-profile mb-2" id="movie_image" src="https://firebasestorage.googleapis.com/v0/b/coba-firebase-d3a0e.appspot.com/o/default.png?alt=media&token=44d223fb-097b-44a1-a8d5-b188e7f69b91" alt="movie image">
                <hr>
                <div class="fs-5">@Model.Name</div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">Movie Details</div>
            <div class="card-body">
                <form method="post" asp-controller="Movies" asp-action="Edit" id="form_edit_movie">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="small mb-1" asp-for="Name">Movie Title</label>
                        <input class="form-control" asp-for="Name" type="text" placeholder="Enter movie title here">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" asp-for="Description">Description</label>
                        <input class="form-control" asp-for="Description" type="text" placeholder="Enter movie description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-sm-10">
                            <label class="small mb-1" asp-for="ImageURL">Movie Url</label>
                            <input class="form-control" asp-for="ImageURL" type="text" placeholder="Insert movie image url here">
                            <span asp-validation-for="ImageURL" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label class="small mb-1" asp-for="Price">Price</label>
                            <input class="form-control" asp-for="Price" type="number" min="0">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-sm-6">
                            <label class="small mb-1" asp-for="StartDate">Start Date</label>
                            <input class="form-control" asp-for="StartDate" type="date">
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="small mb-1" asp-for="EndDate">End Date</label>
                            <input class="form-control" asp-for="EndDate" type="date">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-sm-6">
                            <label class="small mb-1" asp-for="MovieCategory">Category</label>
                            <select class="form-control" asp-for="MovieCategory" asp-items="Html.GetEnumSelectList<MovieCategory>()"></select>
                            <span asp-validation-for="MovieCategory" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="small mb-1" asp-for="CompanyId">Cinema</label>
                            <select class="form-control" asp-for="CompanyId" asp-items="ViewBag.Cinemas"></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-sm-6">
                            <label class="small mb-1" asp-for="ProducerId">Producer</label>
                            <select class="form-control" asp-for="ProducerId" asp-items="ViewBag.Producers"></select>
                            <span asp-validation-for="ProducerId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="small mb-1" asp-for="ActorIds">Actors</label>
                            <select class="form-control" asp-for="ActorIds" asp-items="ViewBag.Actors" multiple></select>
                            <span asp-validation-for="ActorIds" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-secondary" asp-action="Index">Back to list</a>
                        <button type="submit" class="btn btn-success ms-2" id="button_update_movie">Update Movie Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $("#movie_image").attr("src", $("#ImageURL").val());
        });

        $("#ImageURL").on("change", function() {
            $("#movie_image").attr("src", $(this).val());
        })
    </script>
    <script src="@Url.Content("~/js/movie.js")" type="text/javascript"></script>
}