@model CompanyModel

@{
    ViewData["Title"] = "Add a new company";
    ViewData["css"] = "Companies/CUD.css";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Companies</li>
        <li class="breadcrumb-item active" aria-current="page">Add new Company</li>
    </ol>
</nav>

<hr>


<div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="preview">
                    <div class="profile">
                        <div class="avatar">
                            <img src="https://firebasestorage.googleapis.com/v0/b/coba-firebase-d3a0e.appspot.com/o/default.png?alt=media&token=44d223fb-097b-44a1-a8d5-b188e7f69b91" alt="Actor Image" id="actor_image">
                        </div>
                        <h5 class="user-name" id="company_name">Company Name</h5>
                    </div>
                    <div class="about">
                        <h5>Description</h5>
                        <p id="company_description">Not yet....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <form method="post" asp-controller="Companies" asp-action="Add">
                        <div class="col-12">
                            <h6 class="mb-2 text-primary">Company Details</h6>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Name">Company Name</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Enter company name here">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Logo">Image Url</label>
                                <input type="text" class="form-control" asp-for="Logo" placeholder="Insert company logo url here">
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input type="text" class="form-control" asp-for="Description" placeholder="Enter actor Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <a asp-controller="Companies" asp-action="Index" class="btn btn-outline-secondary me-2">Back to Actor List</a>
                            <button class="btn btn-success" type="submit">Add New Company</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts{
    <script src="@Url.Content("~/js/company.js")" type="text/javascript"></script>
} 