@model CompanyModel

@{
    ViewData["Title"] = "Add a new actor";
    ViewData["css"] = "Actors/Add.css";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Companies</li>
        <li class="breadcrumb-item active" aria-current="page">Edit Company</li>
    </ol>
</nav>

<hr>


<div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="@Model.Logo" alt="Actor Image" id="actor_image">
                        </div>
                        <h5 class="user-name" id="actor_name">Company Name</h5>
                    </div>
                    <div class="about">
                        <h5>Description</h5>
                        <p id="actor_bio">Not yet....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <form method="post" asp-controller="Companies" asp-action="Edit">
                        <div class="col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Enter company name here">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Logo">Image Url</label>
                                <input type="text" class="form-control" asp-for="Logo" placeholder="Insert company image url here">
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label asp-for="Description">Bio</label>
                                <input type="text" class="form-control" asp-for="Description" placeholder="Enter description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <a asp-controller="Companies" asp-action="Index" class="btn btn-outline-secondary me-2">Back to Actor List</a>
                            <button class="btn btn-success" type="submit">Update Company Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts{
    <script>
        $("#FullName").on("keyup", function() {
            if ($(this).val() != "") {
                $("#actor_name").html($(this).val());
            } else {
                $("#actor_name").html("halo");
            }
        });

        $("#ProfilePictureURL").on("keyup", function() {
            if ($(this).val() != "") {
                $("#actor_image").attr("src", $(this).val());
            } else {
                $("#actor_image").attr("src", @Model.Logo);
            }
        });

        $("#Bio").on("keyup", function() {
            if ($(this).val() != "") {
                $("#actor_bio").html($(this).val());

            } else {
                $("#actor_bio").html(@Model.Description);
            }
        });
    </script>
} 