@model IEnumerable<CompanyModel>

@{
    ViewData["title"] = "List of Companies";
    ViewData["css"] = "Companies/Index.css";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>@ViewData["title"]</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="proTeamScroll" tabindex="2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Name</th>
                                <th>Description</th>
                                @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <th>Interface</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                             <tr>
                                <td class="table-img">
                                    <img src="@item.Logo" alt="">
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">@item.Name</h6>
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <td style="width: 15%;">
                                        <a asp-controller="Companies" asp-action="Edit" asp-route-id="" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a asp-controller="Companies" asp-action="Detail" asp-route-id="" class="table-link info">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a asp-controller="Companies" asp-action="Delete" asp-route-id="" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                }
                            </tr>   
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"><a class="btn btn-secondary" asp-controller="Movies" asp-action="Index">Back to Home</a></div>
</div>